:root {
    --orgcolor: #323232;
    --fontirs: irs;
    --fontbahman: bahman;
    --fontlale: lale;
}

@font-face {
    font-family: irs;
    src: url(IRANSansWeb_Bold.ttf);
}

@font-face {
    font-family: lale;
    src: url(Lalezar-Regular.ttf);
}

@font-face {
    font-family: bahman;
    src: url(Bahman\ 1.ttf);
}

body {
    background: var(--orgcolor)0;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    /* background-image: url(ticket_logo.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

* {
    font-family: var(--fontirs);
}

@media (min-width:300px) {
    #headlogo {
        display: flex;
        justify-content: flex-end;
    }

    .logobody {
        width: 50px;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #c0c0c0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  #main{
    transition: margin-left .5s;
    padding: 16px;
    color: white;
    margin-top: -60px;
  }
  #mySidenav{
    font-family: var(--fontlale);
  }